.section {
  opacity: 0; /* Initially hide the sections */
  transition: opacity 0.5s ease; /* Add transition for smooth effect */
}

.animated {
  animation: fadeIn 1s forwards; /* Apply fadeIn animation to the animated section */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Move the element down initially */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move the element up to its original position */
  }
}